.content {
    margin: 5% 10% 5% 10%;
}

.content__post {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 0 0 5% 0;
    width: 86%;
}

.note {
    position: relative;
    background-color: #5c6bc0;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0;
}

.note_text {
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.note_position_post {
    left: 93%;
    top: 30px;
    width: 100px;
}

.note_post_decoration {
    color: #fafafd;
}

.note_post_decoration:hover {
    background: #6b79c6;
    padding: 12px 12px ;
}

.note_post_decoration:active {
    background: #5360ad;
}

.content_post1 {
    background-color: #fff;
    margin: 6.5% 0 0 18%;
    max-width: 1050px;
    width: 90%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.data {
    margin: 3% 0 0 7%;
    padding: 0;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: bold;
}

.post_header {
    margin: 1% 0 3% 7%;
    font-weight: bold;
    font-size: 41px;
    width: 80%;
    padding-bottom: 40px;
    border-bottom: 2px solid #eeeeee;
}

.post_text {
    padding-left: 7%;
    font-size: 17px;
    line-height: 30px;
    width: 80%;
}

.bottom_post {
    display: inline-block;
    padding-top: 15px;
    margin: 0 0 7% 5%;
    vertical-align: middle;
}

.the_picture_mountain {
    margin: 0 0 5% 0;
    width: 86%;
}

.the_picture_mountain:hover {
    opacity: 0.9;
}

.post2 {
    background-color: #fff;
    margin: 0 0 0 225px;
    width: 950px;
    height: 870px;
}

.subscribe {
    width: 80%;
    font-size: 25px;
    font-style: italic;
    margin: 0 0 0 7%;
    padding-bottom: 8px;
    line-height: 38px;
    color: #7f7f7f;
}

.hashtag_position_post {
    margin-left: 40%;
}


.img_statue {
    float: left;
    margin: 0 20px 0 85px;
}

.explanation {
    margin: 0 0 0 7%;
    padding: 0 0 10px 30px;
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    border-left: 4px solid;
    color: #999999;
}

.button {
    border: 1px solid #ffffff;
    padding: 15px 30px;
    color: #5c6bc0;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
}

.button:hover {
    border: 1px solid #f1f1f1;
}

.button:active {
    border: 1px solid #5c6bc0;
}

.hashtag {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-left: 5px;
    font-size: 15px;
    color: #b2b2b2;
    position: relative;
    text-decoration: none;
}

.hashtag::before {
    content: '#';
}

.hashtag::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #5c6bc0;
    bottom: -1px;
    left: 100%;
    right: 0;
    transition: left 0.3s ease-in-out;
}

.hashtag:hover {
    color: #5c6bc0;
}

.hashtag:hover:before {
    color: #5c6bc0;
}

.hashtag:hover:after {
    left: 10px;
}

.hashtag:active:after {
    content: '';
    height: 0;
}

@media screen and (max-width: 480px){
    .note_position_post {
        left: calc(100% - 120px);
        top: 0;
        width: 100px;
    }

    .content {
        margin: 5% 5% 5% 5%;
    }

    .content__post {
        width: 100%;
    }

    .note_post_decoration:hover {
        left: calc(100% - 124px);
    }

    .hashtag_position_post {
        margin-left: 0;
    }

    .the_picture_mountain {
        width: 100%;
    }

    .img_statue {
        float: none;
    }
}

@media screen and (max-width: 320px){
    .post_text {
        font-size: 16px;
    }

    .data {
        margin-bottom: 7%;
    }

    .subscribe {
        font-size: 18px;
    }

    .img_statue {
        margin: 0 0 0 15%;
    }

    .explanation {
        font-size: 18px;
    }
}