{{#> layout/layout}}
    <article class="content_contact">
        <h1 class="content__header_contact">Contact Us</h1>
        <p class="content__text_contact">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
        <div class="content__form_contact">
            <input placeholder="Your Name" type="text" class="content__form-in_line_contact content__form-text_in_field_contact">
            <input placeholder="Email" type="email" class="content__form-in_line_contact content__form-text_in_field_contact">
            <input placeholder="Subject" type="text" class="content__form-subject_field_contact content__form-text_in_field_contact">
            <textarea placeholder="Your Message" class="content__form-message_field_contact content__form-text_in_textarea_contact"></textarea>
        </div>
        <a href="contact.html" class="content__send_message_contact">send message</a>
    </article>
{{/layout/layout}}