<header class="header">
    <img src="./images/PaloAlto.png" width="157" height="31" alt="Logo image" class="header__logo">
    <nav class="header__link_box header__link_box_position">
        <a href="index.html" class="header__link_underline header__link_item header__link_item_position">home</a>
        <a href="#" class="header__link_underline header__link_item header__link_item_position">about</a>
        <a href="#" class="header__link_underline header__link_item header__link_item_position">archive</a>
        <a href="contacts.html" class="header__link_underline header__link_item header__link_item_position">contact</a>
        <a href="#" class="header_search"></a>
    </nav>
</header>