<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GALLERY POST</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet">
</head>
<body>
    <div class="left">
        <img src="../images/road.png">
        <div class="image_icon">
            <img src="../images/icon.png" class="icon_position">
        </div>
        <p class="subhead">ADVENTURES</p>
        <h1 class="header">AWESOME GALLERY POST</h1>
        <p class="date">JANUARY  19,  2016</p>
        <div class="read_button" id="read_button_on_page">
            <div class="top_line"></div>
            <p class="read_more_text">READ MORE</p>
            <div class="bottom_line"></div>
        </div>
        <div class="bottom_border_line"></div>
        <div class="footer">
            <img src="../images/comment_icon.png" class="comment_icon">
            <div class="count_comment">02 COMMENT</div>
        </div>
    </div>
    <div class="right_position">
        <div class="read_button" id="right_top_button">
            <div class="top_line for_honor"></div>
            <p class="read_more_text for_honor">READ MORE</p>
            <div class="bottom_line for_honor"></div>
        </div>
        <div class="read_button">
            <div class="top_line"></div>
            <p class="read_more_text">READ MORE</p>
            <div class="bottom_line"></div>
        </div>
    </div>
</body>
</html>