<footer class="footer">
    <img src="./images/PaloAlto.png" alt="Logo image" class="footer_logo">
    <ul class="footer_link_block">
        <li class="footer_item">
            <a href="index.html" class="footer_link_line">HOME</a> </li>
        <li class="footer_item">
            <a href="#" class="footer_link_line">ABOUT</a> </li>
        <li class="footer_item">
            <a href="#" class="footer_link_line">ARCHIVE</a> </li>
        <li class="footer_item">
            <a href="contacts.html" class="footer_link_line">CONTACT</a></li>
        <li class="footer_item">
            <a href="index.html" class="f_navigation__search">
                <img src="./images/SearchWhite.png" alt="search logo" class="footer_link_line">
            </a>
        </li>
    </ul>
    <p class="footer_text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur
        nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet.
        Nulla mattis tincidunt auctor.</p>
    <p class="copyright">&copy; 2015 - Palo Alto. All Rights Reserved. Designed & Developed by<span>
        <a href="index.html" class="copyright copyright_link">PixelBuddha Team</a></span></p>
    <div class="social_net">
        <a href="http://www.facebook.com"><img src="./images/facebook.png" alt="facebook icon" class="social_net_icon"></a>
        <a href="http://www.twitter.com"><img src="./images/twitter.png" alt="twitter icon" class="social_net_icon"></a>
        <a href="http://www.instagram.com"><img src="./images/instagram.png" alt="instagram icon" class="social_net_icon"></a>
        <a href="http://www.pinterest.com"><img src="./images/pinterest.png" alt="pinterest icon" class="social_net_icon"></a>
    </div>
</footer>