<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>7bits-frontend-2018</title>
        <link rel="stylesheet" href="../styles/style.css" type="text/css">
    </head>
<body>
    <div class="wrap">
        <div id="left" class="cell">
            <div id="photo">
                <img src="../images/logo.png" alt="Текст на картинке">
            </div>
        </div>
        <div id="right" class="cell">
            <div id="object">
                <div id="header">
                    About me
                </div>
            </div>
            <div id="content">
                I'm John Watson Lorem ipsum dolor sit amet consectetur adipiscind elit, sed do
                eiusmod tempor incididunt ut labore et dotore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
</body>
</html>