body {
    margin: 0 0 50px 0;
}

.left {
    margin: 40px 0 0 47px;
    width: 360px;
    height: 555px;
    border: 1px solid #787878;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image_icon {
    position: absolute;
    height: 35px;
    width: 41px;
    left: 207px;
    top: 269px;
    background-color: black;
}

.icon_position {
    position: relative;
    top: 7px;
    left: 7px;
}

.subhead {
    margin: 58px 0 0 133px;
    letter-spacing: 1.3px;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #a6a6a6;
}

.header {
    margin: 8px 0 0 37px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    letter-spacing: 2.4px;
}

.date {
    margin: 10px 0 0 117px;
    font-size: 14px;
    color: #a6a6a6;
    font-family: Hind, sans-serif;
    letter-spacing: 1.3px;
}

.read_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#read_button_on_page {
    margin: 32px 0 0 0;
}

.top_line {
    margin: 0;
    width: 30px;
    height: 1px;
    background-color: #a6a6a6;
}

.bottom_line {
    margin: 0;
    width: 30px;
    height: 1px;
    background-color: #a6a6a6;
}

.read_more_text {
    margin: 5px 0 3px 0;
    font-size: 13px;
    font-family: Hind, sans-serif;
    letter-spacing: 3.5px;
}

.bottom_border_line {
    margin: 40px 0 0 0;
    width: 361px;
    height: 1px;
    background-color: #d6d6d6;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.comment_icon {
    margin: 23px 0 0 30px;
    width: 16px;
    height: 13px;
}

.count_comment {
    margin: 20px 0 0 9px;
    letter-spacing: 1.4px;
    font-size: 14px;
    font-family: Hind, sans-serif;
    color: #a6a6a6;
}

.right_position {
    position: absolute;
    top: 406px;
    left: 508px;
}

#right_top_button {
    margin: 0 0 30px 0;
}

.read_button:hover .top_line {
    background-color: #d67900;
}

.read_button:hover .read_more_text {
    color: #d67900;
}

.read_button:hover .bottom_line {
    background-color: #d67900;
}