body {
    margin: 0;
    padding: 65px 0 0 67px;
    vertical-align: center;
    horiz-align: center;
}

.headerBox {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.headerItem {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Arial", serif;
    text-align: center;
}

#lifestyle {
    padding-left: 318px;
    padding-right: 114px;
}

#photodiary {
    padding-right: 96px;
}

#music {
    padding-right: 89px;
}

.mainImage {
    padding-top: 40px;
    padding-left: 2px;
    width: 1062px;
    height: 541px;
}

.contentBox {
    display: inline-block;
    vertical-align: top;
    padding: 76px 0 0 84px;
    width: 650px;
    font-family: Arial, serif;
}

#sideBar {
    padding: 90px 0 0 50px;
    width: 300px;
    font-family: "Arial", serif;
}

.contentSubheader {
    font-size: 14px;
    color: #b4ad9e;
}

.contentHeader {
    padding-top: 0px;
    font-size: 30px;
}

.contentText {
    padding-top: 10px;
    font-size: 14px;
    line-height: 24px;
}

.sidebarHeader {
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
}

#headerSideBar {
    padding: 17px 0 10px 0;
}

#sidebarContainer {
    width: 278px;
    height: 58px;
    font-size: 12px;
    line-height: 20px;
}

.postHeader {
    font-weight: bold;
    padding: 3px 0 10px 15px;
    list-style: disc;
}

.postComments {
    font-size: 14px;
    padding: 0 20px 22px 15px;
    color: #b4ad9e;
}

.bottomImage {
    width: 661px;
    height: 497px;
}


.blockFoot {
    margin: 0;
    padding: 0;
}

.footer {
    margin-top: 300px;
    padding-top: 40px;
    height: 40px;
    width: 78%;
    background-color: #f0f0f0;
}

.footerItem {
    display: inline-block;
    vertical-align: middle;
}

#termItem {
    padding-left: 80px;
}

#privacyItem {
    padding-left: 20px;
}